<div class="row">
    <div class="col-4 text-center m-4">
    	<h2><%= @cat.name %></h2>
	<div>
		<img src="<%= @cat.image %>" alt="">
	</div><br>
	<div class="container">
		<p class="text-center">
		<a class="btn btn-primary" href="/cats" role="button">go back</a></div></p>
    </div>
</div>

